{% load static %}
{% load app_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'app/css/zeroing-file2.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/style.css' %}">
    <title>Войти</title>
</head>

<body>
    <header class="header">
        <nav class="header__body">
            <div class="container">
                <div class="wrapper">
                    <a href="{% url 'home' %}" class="header__logo">Kamchatov Products</a>
                    <div class="header__menu-toggle icon">
                        <div class="header__hamburger"></div>
                    </div>

                    <ul class="header__menu">
                        {% show_menu %}
                    </ul>
                </div>
            </div>

        </nav>
    </header>
    <div class="container">
        <main class="main">
            <div class="main__inner">
                <form action="{% url 'entry' %}" method="POST" class="main__form form">
                    <p class="form__title">Зарегистрируйтесь</p>
                    {% csrf_token %}
                    {{ form }}
                    <input type="submit" value="Зарегистрироваться" class="form__button" href="{% url 'home' %}">
                </form>
            </div>
        </main>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="../../static/app/js/script.js"></script>
</body>

</html>