{% load static %}
{% load app_tags %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'app/css/zeroing-file2.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/style.css' %}">
    <title>Отзывы</title>
</head>

<body>
    {% block headerblock %}
    <header class="header">
        <nav class="header__body">
            <div class="container">
                <div class="wrapper">
                    <a href="{% url 'home' %}" class="header__logo">Kamchatov Products</a>
                    <div class="header__menu-toggle icon">
                        <div class="header__hamburger"></div>
                    </div>

                    <ul class="header__menu">
                        {% show_menu %}
                    </ul>
                </div>
            </div>

        </nav>
    </header>
    {% endblock %}
    <main class="main">
        <div class="container">
            <div class="main__inner">
                <section class="main__reviews">
                    <h2 class="main__reviews-title">Отзывы наших покупателей</h2>
                    {% show_reviews %}
                </section>
            </div>
        </div>
    </main>
    {% block footer %}
    <footer class="footer">
        <div class="container">
            <div class="footer__inner">
                <div class="footer__block block">
                    <h3 class="block__title">Покупателям</h3>
                    <ul class="block__list">
                        <li>Доставка</li>
                        <li>Оплата</li>
                        <li>Личный кабинет</li>
                    </ul>
                </div>
                <div class="footer__block block">
                    <h3 class="block__title">Информация</h3>
                    <ul class="block__list">
                        <li>О нас</li>
                        <li>Блог</li>
                        <li>Обратная связь</li>
                    </ul>
                </div>
                <div class="footer__block block">
                    <h3 class="block__title">Мы на связи</h3>
                    <p class="footer__number">+7 (495) 123-45-67</p>
                    <!-- svg спрайт с соц. сетями -->
                </div>
                <div class="footer__block block">
                    <h3 class="block__title">Подписка на новости</h3>
                    <p class="block__text">Получите доступ к эксклюзивным скидкам</p>
                    <form class="block__form form" action="" method="GET">
                        <label for="email" hidden>Email</label>
                        <input class="form__email" type="text" placeholder="E-mail" id="email" name="email">
                    </form>
                </div>
            </div>
        </div>
    </footer>
    {% endblock footer %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="../../static/app/js/script.js"></script>
</body>

</html>